<html>
  <head>
    <title>Abby's Blog</title>
</head>

<body>
    <div>
      <title>Abby's Blog: An Exploration in Coding</title>
    </div>

    <div>
      <h1><a href="">My Blog, Here</a></h1>
    </div>

    <div>
      <p>published: 2016-06-25, 12:40:24</p>
      <h2><a href="">Post The First!</a></h2>
      <p>Please click on through and I'll tell you a tale <br />
        of coding and brave derring-do. <br />
        There's HTML! And Django! And snacks! <br />
        (You may hear a swear word or two.)</p>
      </div>

  </body>

</html>
